<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-kiosk" version="0.2.3">

    <name>Cordova Kiosk Mode</name>
    <author>Jan Kalina</author>
    <description>
        Cordova plugin to create Cordova application with "kiosk mode".
        App with this plugin can be set as Android launcher.
        If app starts as launcher, it will block hardware buttons and statusbar,
        which would allow escape from application.
        Escape from app will be possible only by javascript call KioskPlugin.exitKiosk()
        or by uninstallation app using adb. (Keeping USB debug allowed recommended.)
        If applications starts as usual (not as launcher), no restrictions will be applied.

        Plugin website: https://github.com/honza889/cordova-plugin-kiosk
        Example app: https://github.com/honza889/cordova-kiosk-demo

        This plugin is for Android for now. Support of iOS would be useless,
        becase this feature is builded in iOS as Guided Access.
    </description>
    <keywords>cordova, launcher, homescreen, kiosk, kiosk mode</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="kiosk.js" name="kioskPlugin">
        <clobbers target="window.KioskPlugin" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="orientation" value="landscape"/>
            <feature name="KioskPlugin">
                <param name="android-package" value="jk.cordova.plugin.kiosk.KioskPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.REORDER_TASKS" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
            <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <activity
                android:launchMode="singleInstance" 
                android:name="jk.cordova.plugin.kiosk.FakeHome"
                android:enabled="false">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.HOME" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
            <activity android:label="Rilevatore Presenze Modalità Chiosco" 
                      android:launchMode="singleInstance" 
                      android:keepScreenOn="true" 
                      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|uiMode" 
                      android:windowSoftInputMode="adjustResize" 
                      android:name="jk.cordova.plugin.kiosk.KioskActivity"
                      android:screenOrientation="sensorLandscape">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.HOME" />
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="android/KioskActivity.java" target-dir="src/jk/cordova/plugin/kiosk" />
        <source-file src="android/KioskPlugin.java" target-dir="src/jk/cordova/plugin/kiosk" />
        <source-file src="android/FakeHome.java" target-dir="src/jk/cordova/plugin/kiosk" />

    </platform>

</plugin>
